* {
    box-sizing: border-box;
    margin: 0;
}

main {
    margin-left: 10px;
}

h1 {
    font-size: 55px;
}

#logo {
    height: 70px;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 15px;
}

#titolo {
    margin-top: 20px;
}

#titolo p {
    font-size: 28px;
    color: rgb(143, 140, 140);
    margin-bottom: 30px;
}

#titolo img {
    height: 500px;
}

#data {
    font-size: 20px;
}

.testa {
    background-size: contain;
    background-color: rgb(18, 145, 241);
    background-image: url("../img/pattern.png");
}

.blue-text {
    color: rgb(0, 242, 255);
}
