* {
    box-sizing: border-box;
    margin: 0;
}

#logo {
    height: 70px;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.testa {
    background-size: contain;
    background-color: rgb(70, 168, 243);
    background-image: url("../img/pattern.png"); 
}

