* {
    box-sizing: border-box;
    margin: 0;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 55px;
}

h2 {
    color:rgb(143, 140, 140);
    margin-bottom: 10px;
}

article {
    margin-top: 30px;
}

article ul {
    margin-left: -10px;
}

article li {
    font-size: 28px;
}

mark {
    background-color: yellow;
}

#logo {
    height: 70px;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 15px;
}

#titolo {
    margin-top: 20px;
}

#titolo p {
    font-size: 28px;
    color: rgb(143, 140, 140);
    margin-bottom: 30px;
}

#titolo img {
    height: 500px;
}

#data {
    font-size: 20px;
}

#finale1 {
    background-image: url(../img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
    font-size: 25px;
    position: relative;
}

#finale2 {
    background-image: url(../img/graph.jpg);
    height: 200px;
    background-repeat: no-repeat;
    font-size: 25px;
    position: relative;
    margin-top: 10px;
}

.testa {
    background-size: contain;
    background-color: rgb(18, 145, 241);
    background-image: url("../img/pattern.png");
}

.blue-text {
    color: rgb(0, 242, 255);
}

.main-text {
    font-size: 24px;
}

.white-text {
    color: white;
    font-weight: bold;
}

.lorem {
    position: absolute;
    top: 10px;
    left: 10px;
}

.intestazione {
    background-color: rgb(105, 150, 228);
}

.azzurro {
    background-color: rgb(32, 251, 251);
}